## IMPORTS FROM OTHER PACKAGES
import(methods, RCurl)
importFrom(RJSONIO, toJSON, fromJSON)
importFrom(utils, browseURL)

## EXPORT FUNCTIONS
export(
sourceGist
)

## EXPORT METHODS
exportMethods(
getRepo,
sourceRepoFile,
view
)


## EXPORT CLASSES
exportClasses(
githubRepo
)
